<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>connpool</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <filter>
        <filter-name>BuyerAccessControl</filter-name>
        <filter-class>filters.BuyerAccessControl</filter-class>
    </filter>
    <filter>
        <filter-name>SellerAccessControl</filter-name>
        <filter-class>filters.SellerAccessControl</filter-class>
    </filter>
    <filter>
        <filter-name>PdfAccessControl</filter-name>
        <filter-class>filters.PdfAccessControl</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BuyerAccessControl</filter-name>
        <url-pattern>/buyer/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SellerAccessControl</filter-name>
        <url-pattern>/seller/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PdfAccessControl</filter-name>
        <url-pattern>/pdf/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <description>listener</description>
        <listener-class>listeners.WebAppContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3333/webappdb?user=root&amp;password=root</param-value>
    </context-param>
    <!-- SERVLET -->
    <!-- per il momento ogni servlet è stata mappata sul suo nome privo della parte "Servlet" -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProducts</servlet-name>
        <servlet-class>servlets.ShowProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>servlets.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LandingPageBuyer</servlet-name>
        <servlet-class>servlets.LandingPageBuyerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPurchase</servlet-name>
        <servlet-class>servlets.AddPurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmationPage</servlet-name>
        <servlet-class>servlets.ConfirmationPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductsByCategory</servlet-name>
        <servlet-class>servlets.ShowProductsByCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormAddProduct</servlet-name>
        <servlet-class>servlets.FormAddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LandingPageSeller</servlet-name>
        <servlet-class>servlets.LandingPageSellerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormAddProduct</servlet-name>
        <url-pattern>/seller/FormAddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductsByCategory</servlet-name>
        <url-pattern>/buyer/ShowProductsByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmationPage</servlet-name>
        <url-pattern>/buyer/ConfirmationPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPurchase</servlet-name>
        <url-pattern>/buyer/AddPurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LandingPageBuyer</servlet-name>
        <url-pattern>/buyer/LandingPageBuyer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/seller/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProducts</servlet-name>
        <url-pattern>/seller/ShowProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LandingPageSeller</servlet-name>
        <url-pattern>/seller/LandingPageSeller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPages/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorPages/500.html</location>
    </error-page>
</web-app>
